<app-header />
<main>
    <section class="main-section pad-70">
        <div class="headline">
            <span>HV01 CONSULTORIA</span>
            <h1>A consultoria que você busca para seu site</h1>
        </div>
        <img class="fadeInUp" ngSrc="assets/imagens/equipes.png" width="600" height="350">
    </section>

    <section class="benefit-section pad-70">
        <div class="benefit-data">
            <h2>
              95% das <br/>
              empresas
            </h2>

        </div>
        <p>não sabe como lidar com problemas de <b>escalabilidade</b> e <b>grande volume de requisitos.</b></p>

    </section>
    <section class="cta-section">
      <app-btn-primary btn-text="fale com nossos especialistas" />
    </section>
    <app-newsletter-form></app-newsletter-form>

</main>
