.btn{
  border: nome;
  border-radius: 30px;
  padding: 20px 40px;

  cursor: pointer;

  &:disable{
    opacity: 0.6;
  }

  &.primary{
    color: white;
    background: -webkit-linear-gradient(180deg,var(--primary-color), var(--secondary-color));

    font-size: 24px;
    font-weight: bold;
  }

  &.secondary{
    background: white;
    color: var(--primary-text);

    font-size: 16px;
    font-weight: bold;
  }
}
